body {
    width: 100%;
    overflow-x: hidden;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.3em;
    color: #222;
}

#corpo {
    width: 650px;
    display: table;
    margin: 0 auto; 
}

.bloco {
    margin: 0 10px;
}

h1 {
    border-bottom: 2px solid;
    padding: 10px 0;
    font-family: Georgia;
    text-transform: uppercase;
}
    
h2 {
    font-family: Georgia;
    text-transform: uppercase;    
    font-size: 15px;
}    
