a, a:link, a:visited { color:#000; border-bottom:1px dashed; text-decoration: none; }
a:hover { font-weight: bold; }

body {
    width: 100%;
    overflow-x: hidden;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.3em;
    color: #222;
}

#corpo { width: 650px; display: table; margin: 0 auto; }

.bloco { margin: 15px 10px; }
.bloco p { font-size: 11px; }

h1 { border-bottom: 2px solid; padding: 10px 0; font-family: Georgia; text-transform: uppercase; }
    
h2 { font-family: Georgia; font-size: 15px; }    
    
blockquote { 
    margin: 0;margin: auto 0px;
    font-size: 25px;
    font-family: Gergia; 
}    
quote { text-align: center; }
cite { 
    margin-left: 10px;
    font-size: 13px;
    text-transform: none;
    font-style: normal; 
}
    
#view { float: right; font-size: 10px; letter-spacing: -0.5px; }  
